.description-text {
  color: #6c757d;
  max-width: 300px;
  margin: 1rem auto 2rem;
}

.auth-container {
  background-color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 2rem;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

img {
  height: auto;
}

.auth-bg {
  /*background-color: #7749F8;*/
  position: relative;
  padding: 6rem;
  margin: 0 auto 0 auto;
  max-width: 900px;
  background-image: url('https://i.ibb.co/qj44W4n/Auth-bg.jpg');
  background-size: cover;
  background-position: center;
  @media (max-width: 1200px) {
    padding: 6rem;
  }

  @media (max-width: 992px) {
    padding: 6rem 4rem;
  }

  @media (max-width: 768px) {
    padding: 4rem 2rem;
  }

  @media (max-width: 576px) {
    padding: 3rem 1rem;
  }
}
