@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

$primary: #7749F8;

@import "bootstrap";

.page-content {
  max-width: 900px;
  margin: 0 auto;
}
