@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

$primary: #7749F8;

$primary-hovered: #6339e6;

@import "bootstrap";

.page-content {
  max-width: 900px;
  margin: 0 auto;
}

.pointer-cursor {
  cursor: pointer;
}

.btn-primary-custom {
  background-color: #EBE5FC;
  color: $primary;
  border: none;
}

.btn-primary-outline-custom {
  opacity: 0.8;
}


