<div *ngIf="!isEdit" class="col-12">
  <h2>Seans Takvimi</h2>
</div>

<div class="col-12 card">
  <div class="row mx-0">
    <div class="col-2 text-center text-secondary py-3 px-0 table-header border-end border-bottom"
      *ngFor="let day of weeklySessionCalendar; let i = index" [ngClass]="{'border-end': i !== 5}">
      <p *ngIf="isScreenLarge" class="text-primary mb-0">{{ getFormattedDate(day) }}</p>
      <p *ngIf="!isScreenLarge" class="text-primary mb-0 text-nowrap">{{ getFormattedShortDate(day) }}</p>
      <p *ngIf="isScreenLarge" class="mb-0">{{ getFormattedLongDayName(day.dayOfWeek || '') }}</p>
      <p *ngIf="!isScreenLarge" class="mb-0 text-nowrap">{{ getFormattedShortDayName(day.dayOfWeek || '') }}</p>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-2 text-center text-primary fw-light pb-4 text-nowrap px-0"
      *ngFor="let day of weeklySessionCalendar; let i = index" [ngClass]="{ 'border-end': i !== 5}">
      <div class="mt-3 time-container no-pointer-cursor" *ngFor="let session of day.sessions"
        [ngClass]="{'unavailable text-secondary': !session?.available || !isSessionDateInFuture(session.date || ''), 'available': session?.available && isSessionDateInFuture(session.date || ''), 'smaller-font': !isScreenLarge}">
        <!-- <p (click)="isEdit && session?.available ? editSession(session.date || null) : null"
          [ngClass]="{'edit': isEdit && session?.available}">{{ formatSessionDate(session.date ||
          '') }}</p> -->

        <p
          (click)="isEdit && session?.available && isSessionDateInFuture(session.date || '') && isUserLoggedIn ? editSession(session.date || null) : null"
          [ngClass]="{'edit': isEdit && session?.available && isSessionDateInFuture(session.date || '') }"
          [class.no-pointer-cursor]="!session?.available || !isSessionDateInFuture(session.date || '') || !isUserLoggedIn"
          [attr.data-bs-toggle]="session?.available && isSessionDateInFuture(session.date || '') && isUserLoggedIn ? 'modal' : null"
          [attr.data-bs-target]="session?.available && isSessionDateInFuture(session.date || '') && isUserLoggedIn ? '#sessionModal' : null">
          {{ formatSessionDate(session.date || '') }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="col-12 mt-3 d-flex justify-content-between">
  <div>
    <p class="text-secondary mb-1">* Müsait saatler renkli şekilde gösterilmiştir.</p>
    <p class="text-secondary" *ngIf="!isEdit">** Seans randevusu oluşturmak için giriş yapınız veya kayıt olunuz.</p>
  </div>
  <nav class="pagination-container">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{'disabled': !previousWeekAvailable}">
        <a class="page-link pointer-cursor" (click)="previousWeek()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" [ngClass]="{'disabled': !nextWeekAvailable}">
        <a class="page-link pointer-cursor" (click)="nextWeek()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="modal fade" id="sessionModal" tabindex="-1" aria-labelledby="sessionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="sessionModalLabel">{{approveModalHeader}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{approveModalText}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
        <button data-bs-dismiss="modal" (click)="approveModal()" type="button" class="btn btn-primary">Onayla</button>
      </div>
    </div>
  </div>
</div>
<app-toast *ngIf="showToast" [toastErrorMessage]="toastErrorMessage"></app-toast>
