.test-circle {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  border: 0.4rem solid #7749f8;
  border-radius: 50%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.test-card {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.test-card-container {
  cursor: default;
  max-width: 300px;
  min-width: 250px;
  margin: 0 auto;
}

.test-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
}

.test-card-body-large {
  height: 200px;
  width: 100%;
}

.btn-test {
  opacity: 0.55;
}

.logo-circle {
  width: 200px;
  height: 100px;
  background-color: pink;
  margin-bottom: 1rem;
  border-top-left-radius: 90px;
  border-bottom-right-radius: 90px;
}

.test-logo {
  display: flex;
  justify-content: center;
  align-items: center;  
}
