<div class="auth-wrap py-3">
  <div class="rounded auth-bg">
    <div class="rounded auth-container">
      <div class="mt-3 mb-2 text-center">
        <img src="../../../assets/materials/logo-ex.svg" alt="Logo" class="img-fluid">
      </div>
      <div class="alert alert-danger text-center m-0" role="alert" *ngIf="errorMsg.length">
        <p *ngFor="let msg of errorMsg; let i = index"
           [ngClass]="{'single-error': errorMsg.length === 1, 'multiple-errors': errorMsg.length > 1}">{{msg}}</p>
      </div>
      <div class=" mb-2">
        <p class="text-center description-text">{{infoText}}</p>
      </div>
      <div>
        <div class="login" *ngIf="isActivateAccount">
          <div *ngIf="isActivationSubmitted else codeForm">
            <div class="activation-message" *ngIf="isActivationOkay; else activationError">
              <div class="alert alert-success text-center" role="alert">
                <h3>Aktivasyon Başarılı!</h3>
                <p>Hesabınız başarıyla aktive edildi.</p>
              </div>
            </div>
            <ng-template #activationError>
              <div class="alert alert-danger text-center" role="alert">
                <h3>Aktivasyon Başarısız!</h3>
                <p>{{ activationMessage }}</p>
              </div>
            </ng-template>
          </div>
          <ng-template #codeForm>
            <div class="text-center activation-token mb-3" style="max-width: 350px;">
              <code-input [isCodeHidden]="false"
                          [codeLength]="6"
                          [code]="'number'"
                          (codeCompleted)="onCodeCompleted($event)">
              </code-input>
            </div>
          </ng-template>
          <div class="d-grid">
            <button *ngIf="!isActivationOkay" class="btn btn-primary"
                    (click)="isActivationSubmitted = false; isActivationOkay= true">Tekrar Dene
            </button>
            <button *ngIf="isActivationOkay" class="btn btn-primary" (click)="redirectToLogin()" type="button">Giriş
              Yap
            </button>
          </div>
        </div>
        <div class="register" *ngIf="isRegister">
          <div class="mb-2">
            <input [(ngModel)]="registerRequest.firstname" name="firstName" type="text" id="name" class="form-control"
                   placeholder="Ad"
                   aria-label="Ad"
                   aria-describedby="addon-wrapping" required>
          </div>
          <div class="mb-2">
            <input [(ngModel)]="registerRequest.lastname" type="text" id="surname" class="form-control"
                   placeholder="Soyad" aria-label="Soyad"
                   aria-describedby="addon-wrapping">
          </div>
          <div class="mb-2">
            <input [(ngModel)]="registerRequest.phoneNumber" type="tel" id="phone-number" class="form-control"
                   placeholder="Telefon Numarası"
                   pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
          </div>
          <div class="mb-2 input-group">
            <label class="input-group-text" for="birth-year"><i class="fa-solid fa-table"></i></label>
            <select [(ngModel)]="registerRequest.birthYear" id="birth-year" class="form-select" aria-label="Doğum Yılı">
              <option value="" disabled selected class="placeholder-option">Doğum Yılı</option>
              <option *ngFor="let year of birthYears" [value]="year">{{ year }}</option>
            </select>
          </div>
          <div class="mb-2">
            <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="email" placeholder="Email"
                   aria-label="Email" required>
          </div>
          <div class="mb-2">
            <input [(ngModel)]="registerRequest.password" type="password" class="form-control" id="password"
                   placeholder="Şifre" aria-label="Şifre" required>
          </div>
          <div class="mb-2">
            <input [(ngModel)]="confirmPassword" type="password" class="form-control" id="confirm-password"
                   placeholder="Şifre Tekrar"
                   aria-label="Şifre Tekrar" required>
          </div>
          <div class="d-grid">
            <button class="btn btn-primary" (click)="register()" type="submit">Kayıt Ol</button>
          </div>
        </div>
        <div class="login" *ngIf="isLogin">
          <div class="mb-2">
            <input [(ngModel)]="loginRequest.email" type="email" class="form-control" id="loginEmail"
                   placeholder="Email" aria-label="Email">
          </div>
          <div class="mb-2">
            <input [(ngModel)]="loginRequest.password" type="password" class="form-control" id="loginPassword"
                   placeholder="Şifre" aria-label="Şifre">
          </div>
          <div class="d-grid">
            <button class="btn btn-primary" (click)="login()" type="button">Giriş Yap</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
