<div class="page-content container">
  <div class="row mx-0 card my-5 py-4 px-md-5 px-sm-2">
    <div class="col">
      <div class="card-body about-card-body my-1 row row-about ">
        <div class="about-logo mt-0 col-4">
          <div class="logo-circle mx-auto"></div>
        </div>
        <div class="col-8 mt-4 about-text">
          <p class="fs-5 fw-bold">Klinik Psikolog Ecem Doğan Songur</p>
          <p class="fw-light mt-2 text-secondary">
            Foundations are the visual elements needed to create engaging
            end-to-end user experiences.
            This includes guidance on iconography, typography, layout and structure.
            Foundations are the visual elements needed to create engaging
            end-to-end user experiences.
            This includes guidance on iconography, typography, layout and structure.
            Foundations are the visual elements needed to create engaging
            end-to-end user experiences.
            This includes guidance on iconography, typography, layout and structure.
            Foundations are the visual elements needed to create engaging
            end-to-end user experiences.
            This includes guidance on iconography, typography, layout and structure.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>