<div class="page-content container">
  <app-user-nav-underline></app-user-nav-underline>
  <div *ngIf="isActiveItem(AdminNavItems.UPCOMING_SESSIONS)">
    <app-upcoming-session [selectedUser]="selectedUser"></app-upcoming-session>
  </div>
  <div *ngIf="isActiveItem(AdminNavItems.ALL_SESSIONS)">
    <app-admin-all-sessions></app-admin-all-sessions>
  </div>
  <div *ngIf="isActiveItem(AdminNavItems.ALL_USERS)">
    <app-admin-all-users (selectedUserEvent)="onSelectedUser($event)"></app-admin-all-users>
  </div>
  <div *ngIf="isActiveItem(AdminNavItems.EDIT_BLOG)">
    <app-edit-blog></app-edit-blog>
  </div>
  <div *ngIf="isActiveItem(AdminNavItems.EDIT_TESTS)">
    <app-edit-test></app-edit-test>
  </div>
  <div *ngIf="isActiveItem(AdminNavItems.ACCOUNT_SETTINGS)">
    <app-edit-user></app-edit-user>
  </div>
</div>