<div class="page-content container">
  <app-user-nav-underline></app-user-nav-underline>
  <div *ngIf="isActiveItem(UserNavItems.MY_UPCOMING_SESSION)">
    <app-my-upcoming-session *ngIf="selectedTest === null"
      (startTestEvent)="startTest($event)"></app-my-upcoming-session>
    <app-user-test-card-detail *ngIf="selectedTest !== null" [testCard]="selectedTest"
      (onCompleteTest)="onCompleteTest()"></app-user-test-card-detail>
  </div>
  <div *ngIf="isActiveItem(UserNavItems.MY_SESSIONS)">
    <app-my-sessions></app-my-sessions>
  </div>
  <div *ngIf="isActiveItem(UserNavItems.ACCOUNT_SETTINGS)">
    <app-edit-user></app-edit-user>
  </div>
  <div *ngIf="isActiveItem(UserNavItems.CREATE_APPOINTMENT)">
    <app-create-my-session (isShowAddSessionModal)="showAddSessionModal($event)"></app-create-my-session>
  </div>
</div>
